<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Please confirm your email. — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script ugly=true>
  var whitelisted = window.location.search !== '?whitelist=false';
  var app = angular.module('homeApp', []);

  app.controller('MainCtrl', function ($scope, $window, $http) {
    $scope.loginUrl = '{{{apiUrl}}}/auth/github?redirect={{{angularUrl}}}/?auth';
    $scope.data = {
      embedActive: false,
      hideUnauthorizedModal: whitelisted
    };

    if (!window.fbq) {
      // Stub fbq
      window.fbq = function () {}
    }

    // scroll to
    if (!whitelisted) {
      fbq('track', 'ViewContent', {
        action: 'notWhitelisted'
      });
      location.hash = '#sign-up';
    }

    $http.get('{{{apiUrl}}}/users/me', {
      withCredentials: true
    })
      .then(function (user) {
        var org;
        try {
          org = user.data.userOptions.uiState.previousLocation.org;
        } catch (e) {
          org = user.data.accounts.github.username;
        }
        var prevInstance;
        try {
          prevInstance = user.data.userOptions.uiState.previousLocation.instance;
        } catch (e) {
        }
        var newURL = '{{{angularUrl}}}/' + org;
        if (prevInstance) {
          newURL += '/' + prevInstance
        }
        $window.location = newURL;
      });
  });
</script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-video" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    <div class="modal-backdrop" id="confirm">
  <!-- submitted state -->
  <article class="article article-sign-up article-confirm modal">
    <img class="img hide" src="images/runnabear-jumping.png">
    <p class="p text-center">To prevent spam, we also need to confirm your email address by clicking on the link in the email we just sent you.
    <a href="https://runnable.com" class="grid-content btn btn-lg gray">Return Home</a>
  </article>
</div>


    <!-- Google Code for Sign Up Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script>
      /* <![CDATA[ */
      goog_snippet_vars = function() {
        var w = window;
        w.google_conversion_id = 927781586;
        w.google_conversion_label = "3G2tCK_GoGUQ0qWzugM";
        w.google_remarketing_only = false;
      }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        var opt = new Object();
        opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
    </script>
    {{#if_eq env 'production-delta'}}
      <script src="//www.googleadservices.com/pagead/conversion_async.js"></script>
      <script>// Facebook Pixel Code
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '761302660669573');
fbq('track', "PageView");
// End Facebook Pixel Code</script>
      <!-- Facebook Pixel Code -->
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=761302660669573&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
      <script>// google analytics
(function (i, s, o, g, r, a, m) {
  i["GoogleAnalyticsObject"] = r;
  i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
  }, i[r].l = 1 * new Date();
  a = s.createElement(o),
  m = s.getElementsByTagName(o)[0];
  a.async = 1;
  a.src = g;
  m.parentNode.insertBefore(a, m)
})(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
ga("create", "UA-59677301-1", "auto");
ga("send", "pageview");
// end google analytics</script>
    {{else}}
      <script src="http://www.googleadservices.com/pagead/conversion_async.js"></script>
      <script>
        // google analytics
        (function (i, s, o, g, r, a, m) {
          i["GoogleAnalyticsObject"] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, "script", "http://www.google-analytics.com/analytics.js", "ga");
        ga("create", "UA-59677301-1", "auto");
        ga("send", "pageview");
        // end google analytics
      </script>
    {{/if_eq}}
