<!doctype html>
<html lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Full-stack environments for your GitHub branches — Runnable</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="styles/index.css">

    {{#if_eq env 'production-delta'}}
      <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '761302660669573');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=761302660669573&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
      <!-- trackjs -->
<script>
  window._trackJs = {
    token: 'ea5e26c7ec2d486e9c66bcf4fefa0f4b',
    version: '{{{version}}}',
    application: "production",
    network: { error: false },
    onError: function (payload, error) {
      payload.network = payload.network.filter(function (item) {
        return item.url.indexOf('mixpanel') === -1;
      });
      return true;
    },
    serialize: function (payload) {
      return JSON.stringify(payload);
    }
  };
</script>
<!-- end trackjs -->
      <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
      <!-- mixpanel -->
<script>
  (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("57260a5b6fc972e9c69184882efd009e");
</script>
<!-- end mixpanel -->
      <script src="https://widget.intercom.io/widget/wqzm3rju"></script>
      <!-- google analytics -->
<script>
  (function (i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
    m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");
  ga("create", "UA-59677301-1", "auto");
  ga("send", "pageview");
</script>
<!-- end google analytics -->
    {{/if_eq}}

    {{#if_eq env 'staging'}}
      <script src="https://widget.intercom.io/widget/xs5g95pd"></script>
      <!-- mixpanel staging -->
<script>
  (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
  mixpanel.init("abed31a0844a1bf389205355edfda4c2");
</script>
<!-- end mixpanel staging -->
    {{/if_eq}}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script>
  var whitelisted = window.location.search !== '?whitelist=false';
  var app = angular.module('homeApp', []);

  app.controller('MainCtrl', function ($scope, $window, $http) {
    $scope.loginUrl = '{{{apiUrl}}}/auth/github?redirect={{{angularUrl}}}/?auth';
    $scope.data = {
      embedActive: false,
      hideUnauthorizedModal: whitelisted
    };

    if (!window.fbq) {
      // Stub fbq
      window.fbq = function () {}
    }

    // scroll to
    if (!whitelisted) {
      fbq('track', 'ViewContent', {
        action: 'notWhitelisted'
      });
      location.hash = '#sign-up-modal';
    }

    $http.get('{{{apiUrl}}}/users/me', {
      withCredentials: true
    })
      .then(function (user) {
        var org;
        try {
          org = user.data.userOptions.uiState.previousLocation.org;
        } catch (e) {
          org = user.data.accounts.github.username;
        }
        var prevInstance;
        try {
          prevInstance = user.data.userOptions.uiState.previousLocation.instance;
        } catch (e) {
        }
        var newURL = '{{{angularUrl}}}/' + org;
        if (prevInstance) {
          newURL += '/' + prevInstance
        }
        $window.location = newURL;
      });

    // start video
    var video = document.getElementsByTagName('video')[0];
    var article = document.getElementsByClassName('article-more')[0];

    if (window.location.hash === '#video') {
      startVideo();
    }

    function startVideo() {
      video.scrollIntoView({behavior: 'smooth'});
      video.classList.add('playing');
      video.play();
      pushVideo();
      window.addEventListener('resize', pushVideo);
    }

    function pauseVideo() {
      video.classList.remove('playing');
      video.pause();
      article.style.transform = null;
      window.removeEventListener('resize', pushVideo);
    }

    function pushVideo() {
      var articleOffset = video.offsetHeight - 301;
      article.style.transform = 'translate3d(0,' + articleOffset + 'px,0)';
    }

    // form submit
    function markInvalid(e) {
      var thisForm = e.target.getElementsByTagName('input');
      for (var i = 0; i < thisForm.length; i++) {
        if (!thisForm[i].validity.valid) {
          thisForm[i].classList.add('invalid');
        }
      }
    }

    function makeDirty(e){
      e.target.classList.remove('pristine', 'invalid');
    }

    function formSubmit(e){
      if (e.target.checkValidity()) {
        fbq('track', 'Lead');
      } else {
        markInvalid(e);
        e.preventDefault();
      }
    }

    // flipping cards
    function flipCard(e) {
      e.target.parentElement.parentElement.classList.toggle('flip');
    }

    // events
    window.onload = function(){
      // video
      var videoPause = document.getElementsByClassName('video-pause');
      var videoStart = document.getElementsByClassName('video-start');
      if (videoStart) {
        for (var i = 0; i < videoStart.length; i++) {
          videoStart[i].addEventListener('click', startVideo);
        }
        for (var i = 0; i < videoPause.length; i++) {
          videoPause[i].addEventListener('click', pauseVideo);
        }
      }

      //sign up form
      var formSignUp = document.getElementsByClassName('form-sign-up');
      if (formSignUp) {
        for (var i = 0; i < formSignUp.length; i++) {
          formSignUp[i].addEventListener('change', makeDirty);
          formSignUp[i].addEventListener('submit', formSubmit);
        }
      }

      // flipping cards
      var imgFlip = document.getElementsByClassName('img-rounded');
      if (imgFlip) {
        for (var i = 0; i < imgFlip.length; i++) {
          imgFlip[i].addEventListener('click', flipCard, false);
        }
      }
    };
  });
</script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing page-video" ng-app="homeApp" ng-controller="MainCtrl" ontouchstart>

    <svg xmlns="http://www.w3.org/2000/svg" class="icon-defintions">
  <symbol id="icons-close" view="0 0 30 30">
    <path d="M21,22.2c-0.3,0-0.5-0.1-0.7-0.3L15,16.6l-5.3,5.3c-0.4,0.4-1,0.4-1.4,0s-0.4-1,0-1.4l5.3-5.3L8.3,9.9c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l5.3,5.3l5.3-5.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-5.3,5.3l5.3,5.3c0.4,0.4,0.4,1,0,1.4C21.5,22.1,21.3,22.2,21,22.2z"/>
  </symbol>
  <symbol id="icons-external" viewBox="0 0 15 15">
    <path fill="currentColor" d="M9.5,9a0.5,0.5,0,0,1-.354-0.854L14.293,3H11a0.5,0.5,0,0,1,0-1h4.506a0.5,0.5,0,0,1,.32.121h0a0.56,0.56,0,0,1,.07.074,0.5,0.5,0,0,1,.1.269c0,0.013,0,.026,0,0.039V7a0.5,0.5,0,0,1-1,0V3.707L9.854,8.854A0.5,0.5,0,0,1,9.5,9Z" transform="translate(-1 -2)"/><path d="M13.317,8.218L13,8.535V14a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V7A2,2,0,0,1,4,5H9.465l0.317-.317A2.5,2.5,0,0,1,9.027,4H4A3,3,0,0,0,1,7v7a3,3,0,0,0,3,3h7a3,3,0,0,0,3-3V8.973A2.5,2.5,0,0,1,13.317,8.218Z" transform="translate(-1 -2)"/>
  </symbol>
</svg>
    <header class="grid-block shrink header">
  <div class="grid-block grid-container align-justify">
    <a href="https://runnable.com" class="grid-content shrink">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <div class="grid-block shrink">
      <a href="https://runnable.zendesk.com/hc/en-us" class="grid-content btn btn-sm text-white strong hidden-sm">Docs</a>
      <a ng-href="\{{loginUrl}}" class="grid-content btn btn-sm text-white strong hidden-xs">Sign In</a>
      <a href="#sign-up-modal" class="grid-content btn btn-sm green hidden-xs">Sign Up</a>
      <div class="grid-content btn btn-sm popover-trigger click" tabindex="1">
        <img class="img-overflow" src="images/icons-overflow.svg" height="24" width="24">
        <div class="popover bottom">
          <div class="list text-left">
            <a ng-href="\{{loginUrl}}" class="list-item-a visible-xs">Sign In</a>
            <a href="#sign-up-modal" class="list-item-a visible-xs">Sign Up</a>
            <a class="list-item divider visible-xs"></a>
            <a href="features.html" class="list-item-a">Features</a>
            <a href="about.html" class="list-item-a">About</a>
            <a href="mailto:info@runnable.com" target="_blank" class="list-item-a">Email
              <svg class="icons">
                <use xlink:href="#icons-external">
              </svg>
            </a>
            <a href="https://runnable.zendesk.com/hc/en-us" target="_blank" class="list-item-a visible-sm">Documentation
              <svg class="icons">
                <use xlink:href="#icons-external">
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


    <main class="grid-block vertical main">
      <video id="video" class="video-embed" controls preload="none" poster="images/no-runnabear-loading.svg" src="https://dl.dropbox.com/s/hpx7jkzi7xhwj8r/RunnableEpipheo_Draft01c.mp4"></video>
<button class="btn btn-icon video-pause" title="Paws">
  <svg class="icons icons-close ">
    <use xlink:href="#icons-close">
  </svg>
</button>

      <article class="article hero video-hero">
  <h1 class="h1 text-center">Runnable creates <strong class="strong">on-demand integration environments</strong>, so your team can test and integrate their code as often as needed.</h1>
  <a class="video-img-wrapper video-start">
    <button class="btn btn-lg green video-link video-start">Watch the Video
      <img src="images/play.svg" class="img" height="21" width="21">
    </button>
    <img class="video-img" src="images/video-still.jpg">
  </a>
</article>

      <article class="article article-more">
  <h3 class="h3 text-center">Discover more about how we help teams.</h3>
  <p class="p text-center">We’re tightly integrated with your developer
    <br>workflow to help you Lorem Ipsum.
  </p>
  <a class="btn btn-lg gray" href="features.html">Take a Tour</a>

  <div class="sign-up-box">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p text-center">Ready to get started? Tell us about your Github organization and we’ll get started!</p>
  <a href="#sign-up-modal" class="btn btn-sm green">Sign Up</a>
</div>
  <hr class="hr grid-container">

<footer class="grid-block footer align-spaced">
  <a href="features.html" class="btn btn-xs link strong">Features</a>
  <a href="about.html" class="btn btn-xs link strong">About</a>
  <a href="mailto: info@runnable.com" class="btn btn-xs link strong">Email</a>
  <img class="img" src="images/runnabot-head.png">
  <a href="http://support.runnable.io" class="btn btn-xs link strong">Docs</a>
  <a ng-href="\{{loginUrl}}" class="btn btn-xs link strong">Sign In</a>
  <a href="#sign-up-modal" class="btn btn-xs link strong">Sign Up</a>
</footer>


  <div class="grid-block well">
    Wanna see our last project?
    <a href="http://code.runnable.com" class="btn btn-xs white" target="_blank">CodeSnippets
      <svg class="icons">
        <use xlink:href="#icons-external">
      </svg>
    </a>
  </div>
</article>

    </main>


    <div class="modal-backdrop" id="sign-up-modal">
  <article class="article article-sign-up modal">
    <a href="#">
      <svg class="icons icons-close">
        <use xlink:href="#icons-close">
      </svg>
    </a>
    <div class="well" ng-if="!data.hideUnauthorizedModal">
      <img class="img float-left" src="images/runnabear-error.png" height="90" width="45">
      Your organization doesn’t have access to Runnable…yet. Fill out this form and we’ll get in touch soon!
    </div>
    <!-- initial state -->
    <h1 class="h1 text-center show">Let’s get going.</h1>
    <p class="p text-center show">Runnable was made for teams that use GitHub.
      <br class="hidden-xs">Tell us about your team to get access and 30 days free.
    <form action="https://runnable.us5.list-manage.com/subscribe/post?u=a67ad168d3259d6b0f4d103df&amp;id=504370029e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="grid-block vertical form form-sign-up show">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a67ad168d3259d6b0f4d103df_504370029e" tabindex="-1" value=""></div>
      <div class="grid-content input-group-vertical">
        <label class="label" for="mce-GH_ORG">Your Email</label>
        <input class="input input-md input-validate pristine" id="mce-EMAIL" name="EMAIL" type="email" required>
      </div>
      <div class="grid-content input-group-vertical">
        <label class="label" for="mce-GH_ORG">GitHub Organization
          <small class="underline popover-trigger hover">Why<span class="hidden-xxs"> do we need this</span>?
            <div class="popover top text-center">We’re sending invitations to users that are a part of an organization on GitHub.</div>
          </small>
        </label>
        <input class="input input-md input-validate pristine" id="mce-GH_ORG" name="GH_ORG" required>
      </div>
      <button id="mc-embedded-subscribe" class="grid-content btn btn-md green">Ship It!</button>
    </form>

    <!-- submitted state -->
    <img class="img hide" src="images/runnabear-jumping.png">
    <h1 class="h1 text-center hide">You did it.</h1>
    <p class="p text-center hide">We’ll be in touch soon!
  </article>
</div>


