<!doctype html>
<html lang="en">

  <head>
    
<base href="/runnable.com/">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="favicon.png">
<link rel="stylesheet" href="styles/index.css">

    <title>Our Privacy Policy — Runnable</title>
    <script ugly>
      // sign up form
function openSignUp(signUpModal) {
  var closeTrigger = document.getElementsByClassName('js-modal-close')[0];
  // show modal
  signUpModal.classList.add('in');
  // stop scrolling
  document.body.classList.add('modal-open');
  // triggers for close button
  closeTrigger.addEventListener('click', function(){closeSignUp(signUpModal)});
  closeTrigger.addEventListener('touchend', function(){closeSignUp(signUpModal)});
  // trigger for esc key
  document.addEventListener('keydown', escModal);
}

function closeSignUp(signUpModal) {
  var closeTrigger = document.getElementsByClassName('js-modal-close')[0];
  // hide modal
  document.getElementById('sign-up').classList.remove('in');
  // resume scrolling
  document.body.classList.remove('modal-open');
  // remove triggers
  closeTrigger.removeEventListener('click', closeSignUp);
  closeTrigger.removeEventListener('touchend', closeSignUp);
}

function escModal(e) {
  if (e.keyCode == 27) {
    document.removeEventListener('keydown', escModal);
    closeSignUp();
  }
}

function updateLabel(e) {
  var label = document.getElementsByClassName('label-text')[0];
  switch (e.target.getAttribute('value')) {
    case 'GitHub':
      label.innerHTML = 'GitHub Organization';
      break;
    case 'Bitbucket':
      label.innerHTML = 'Bitbucket Team';
      break;
  }
}

function markInvalid(e) {
  var thisTarget = e.target;
  var theseInputs;
  var i;
  if (thisTarget.tagName == 'INPUT') {
    // for invalid event
    theseInputs = thisTarget.classList.add('invalid');
  } else {
    // for change event
    theseInputs = thisTarget.getElementsByTagName('input');
    for (i = 0; i < theseInputs.length; i++) {
      if (!theseInputs[i].validity.valid) {
        theseInputs[i].classList.add('invalid');
      }
    }
  }
}

function shakeForm(e) {
  var thisModal = e.target;
  // get modal element
  while ((thisModal = thisModal.parentElement) && !thisModal.classList.contains('modal'));
  thisModal.classList.add('shake');
  thisModal.addEventListener('animationend', function(){
    thisModal.classList.remove('shake');
    thisModal.removeEventListener('animationend', function(){});
  });
}

function makeDirty(e) {
  e.target.classList.remove('pristine', 'invalid');
}

function formInvalid(e) {
  markInvalid(e);
  shakeForm(e);
}

function toggleEditing(form, state) {
  var i;
  var theseInputs = form.getElementsByTagName('input');
  var theseTextareas = form.getElementsByTagName('textarea')[0];
  var submitButton = form.getElementsByTagName('button')[0];
  var spinner = document.getElementsByClassName('spinner-wrapper');

  if (state === 'disable') {
    if (theseInputs) {
      for (i = 0; i < theseInputs.length; i++) {
        theseInputs[i].disabled = true;
      }
    }
    if (theseTextareas) {
      theseTextareas.disabled = true;
    }
    submitButton.disabled = true;
    submitButton.innerHTML += '<div class="spinner-wrapper spinner-md"><svg viewbox="0 0 16 16" class="spinner"><circle cx="8" cy="8" r="7" stroke-linecap="round" class="path"></circle></svg></div>';
  }

  if (state === 'enable') {
    if (theseInputs) {
      for (i = 0; i < theseInputs.length; i++) {
        theseInputs[i].disabled = false;
      }
    }
    if (theseTextareas) {
      theseTextareas.disabled = false;
    }
    submitButton.disabled = false;
    spinner[0].parentElement.removeChild(spinner[0]);
  }
}

function xhrSubmit(e, form, formData) {
  var xhr = new XMLHttpRequest();
  var xhrUrl;
  var questionnaireForm = document.getElementsByClassName('form-questionnaire')[0];
  var articleSignUp = document.getElementsByClassName('article-sign-up')[0];
  var articleQuestionnaire = document.getElementsByClassName('article-questionnaire')[0];
  var articleConfirm = document.getElementsByClassName('article-confirm')[0];

  // determine script to submit to
  if (form.classList.contains('form-sign-up')) {
    xhrUrl = 'https://codenow.com/submit';
  } else if (form.classList.contains('form-questionnaire')) {
    xhrUrl = 'https://codenow.com/submitreason';
  }

  // send form
  xhr.open('POST', xhrUrl);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(formData);

  xhr.onreadystatechange = function() {
    if ( xhr.readyState === 4 && xhr.status === 0) {
      shakeForm(e);
      activeCampaignValidation('An unknown error occured. Please send us an email at <a class="link" href="mailto:preview@runnable.com">preview@runnable.com</a> for assistance.', form);
      toggleEditing(form, 'enable'); // re-enables form
    }
  };

  xhr.onload = function() {
    var response = JSON.parse(xhr.responseText);
    var resultCode = response.result_code;
    var resultMessage = response.result_message;

    // result_codes:
    // -1 = error from sundip
    // 0 = error from active campaign
    // 1 = success from active campaign

    if (resultCode === -1 || resultCode === 0) {
      shakeForm(e);
      activeCampaignValidation(resultMessage, form);
    }

    if (resultCode === 1) {
      if (!articleSignUp.classList.contains('out')) {
        // attach events
        questionnaireForm.addEventListener('change', makeDirty);
        questionnaireForm.addEventListener('submit', setupSubmitQuestionnaire({
          subscriber_id: response.subscriber_id,
          email: response.email
        }));

        // show questionnaire
        articleSignUp.classList.add('out');
        articleQuestionnaire.classList.add('in');

        // segment tracking
        analytics.ready(function() {
          var data = JSON.parse(formData);
          analytics.track('Signed Up', {clientId: ga.getAll()[0].get('clientId')});
          analytics.identify(data.email, data);
        });

      } else {
        // else show confirmation
        articleQuestionnaire.classList.add('out');
        articleConfirm.classList.add('in');
      }
    }

    toggleEditing(form, 'enable'); // re-enables form
  };
}

function submitSignUp(e) {
  var form = e.target;
  e.preventDefault();

  if (form.checkValidity()) {
    var scm = document.getElementsByName('scm');
    var scmName = '';
    var formData;

    toggleEditing(form, 'disable'); // disables inputs

    // jsonify form data
    for(var i = 0; i < scm.length; i++) {
      if(scm[i].checked) {
        scmName = scm[i].value;
      }
    }

    formData = {
      scm: scmName,
      organization: form[2].value,
      email: form[3].value,
    };

    // Send event to Segment
    analytics.ready(function() {
      analytics.track('Sign Up Attempt', {scm: scmName, org: form[2].value, email: form[3].value, clientId: ga.getAll()[0].get('clientId')});
    });

    formData = JSON.stringify(formData); // convert to JSON
    xhrSubmit(e, form, formData);
  }
}

function setupSubmitQuestionnaire(response) {
  return function (e) {
    var form = e.target;
    e.preventDefault();

    if (form.checkValidity()) {
      var formData;

      toggleEditing(form, 'disable'); // disables inputs

      formData = {
        email: response.email,
        subscriber_id: response.subscriber_id,
        reason: form[0].value
      };

      // Send event to Segment
      analytics.ready(function() {
        var data = {email: response.email,subscriber_id: response.subscriber_id,reason: form[0].value, clientId:ga.getAll()[0].get('clientId')};
        analytics.track('Questionnaire Submit', data);
        analytics.identify(data.email, data);
      });

      formData = JSON.stringify(formData); // convert to JSON
      xhrSubmit(e, form, formData);
    }
  };
}

function activeCampaignValidation(resultMessage, form) {
  var thisArticle = form.parentNode;
  var thisErrorWell = thisArticle.getElementsByClassName('well-error')[0];
  var thisErrorText = thisArticle.getElementsByClassName('well-text')[0];
  var firstSentence = resultMessage.substr(0, resultMessage.indexOf('.'));

  // change error text from active campaign (checks first sentence)
  switch (firstSentence) {
    case 'You selected a list that does not allow duplicates':
      resultMessage = 'That email has already been used to sign up.';
      break;
    case 'Contact Email Address is not valid':
      resultMessage = 'That email address is not valid.';
      break;
    case 'Your Organization or Team is invalid':
      resultMessage = 'We couldn’t find that organization or team.';
      break;
  }

  thisErrorText.innerHTML = resultMessage;
  thisErrorWell.setAttribute('style', 'display: flex !important');

  // segment tracking
  analytics.ready(function() {
    analytics.track('Error submit form', {error: resultMessage, clientId: ga.getAll()[0].get('clientId')});
  });
}

// events
window.addEventListener('load', function(){
  var whitelisted = window.location.search !== '?whitelist=false';
  var signUpTriggers = document.getElementsByClassName('js-sign-up');
  var signUpModal = document.getElementById('sign-up');
  var signUpForm = document.getElementsByClassName('form-sign-up')[0];
  var questionnaireForm = document.getElementsByClassName('form-questionnaire')[0];
  var imgFlip = document.getElementsByClassName('img-rounded');
  var theseInputs;
  var i;

  // stub fbq
  if (!window.fbq) {
    window.fbq = function () {};
  }

  // modal forms
  if (signUpForm) {
    signUpForm.addEventListener('change', makeDirty);
    signUpForm.addEventListener('submit', submitSignUp);

    for (i = 0; i < signUpTriggers.length; i++) {
      signUpTriggers[i].addEventListener('click', function(){openSignUp(signUpModal)});
      signUpTriggers[i].addEventListener('touchend', function(){openSignUp(signUpModal)});
    }

    theseInputs = signUpForm.getElementsByTagName('input');
    for (i = 0; i < theseInputs.length; i++) {
      theseInputs[i].addEventListener('invalid', formInvalid);

      if (theseInputs[i].classList.contains('input-radio')) {
        theseInputs[i].addEventListener('change', updateLabel);
      }
    }
  }

  // show sign up if not whitelisted
  if (!whitelisted) {
    // set sign up form error
    document.getElementsByClassName('well-text')[0].innerHTML = 'You don’t have access to Runnable…yet. Fill out this form and we’ll get in touch!';
    document.getElementsByClassName('well-error')[0].setAttribute('style', 'display: flex !important');

    // open sign up form
    openSignUp(signUpModal);

    // segment tracking
    analytics.ready(function() {
      analytics.track('User not whitelisted', {clientId: ga.getAll()[0].get('clientId')});
    });
  }
});

      // polyfill for svgs with base element
(function(document, window) {
  'use strict';
  document.addEventListener('DOMContentLoaded', function() {
    // Current URL, without the hash
    var baseUrl = window.location.href.replace(window.location.hash, '');
      [].slice.call(document.querySelectorAll("use[*|href]"))
        .filter(function(element) {
          return (element.getAttribute('xlink:href').indexOf('#') === 0);
        })
        .forEach(function(element) {
          element.setAttribute('xlink:href', baseUrl + element.getAttribute('xlink:href'));
        });
  }, false);
}(document, window));

      window.addEventListener('load', function(){
  var statusPage = new StatusPage.page({page:'ngvk75ydhg3t'});
  var footer = document.getElementsByClassName('footer')[0];
  var statusElement = document.createElement('a');
  var statusText;
  var statusColor;

  // set up status element
  statusElement.href = '//status.runnable.com';
  statusElement.classList.add('btn','btn-xs','link','strong','status');

  statusPage.components({
    success : function(data) {
      // add status element
      footer.appendChild(statusElement);

      // set text
      switch (data.components[0].status) {
        case 'operational':
          statusText = 'Status: Beary good!';
          statusColor = 'status-green';
          break;
        case 'degraded_performance':
        case 'partial_outage':
          statusText = 'Partial Outage';
          statusColor = 'status-orange';
          break;
        case 'major_outage':
          statusText = 'Major Outage';
          statusColor = 'status-red';
          break;
      }

      statusElement.textContent = statusText;
      statusElement.classList.add(statusColor);
    }
  });
});

    </script>

    <!--
      Commit Hash: {{{commitHash}}}
      Commit Time: {{{commitTime}}}
    -->

  <body class="page-landing" ontouchstart>

    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="icon-defintions">
  <symbol id="icons-bitbucket" viewBox="0 0 27.438 31.681">
    <path d='M29.208,3.519a3.47,3.47,0,0,0-.729-0.738,8.244,8.244,0,0,0-2.01-1.1A21.7,21.7,0,0,0,21.768.45,39.134,39.134,0,0,0,10.037.434,24.268,24.268,0,0,0,6,1.385,10.419,10.419,0,0,0,3.525,2.549a4.165,4.165,0,0,0-.976.869,1.832,1.832,0,0,0-.4,1.479C2.32,5.989,2.48,7.082,2.66,8.169q0.4,2.417.811,4.828c0.306,1.787.62,3.573,0.918,5.36a2.026,2.026,0,0,0,.526,1.07,5.663,5.663,0,0,0,.574.543,9.178,9.178,0,0,0,2.432,1.354,20.379,20.379,0,0,0,6.485,1.328,25.257,25.257,0,0,0,4.838-.187,19.46,19.46,0,0,0,4.011-.948,10.809,10.809,0,0,0,2.725-1.382,4.323,4.323,0,0,0,.945-0.9,1.791,1.791,0,0,0,.354-0.805c0.4-2.341.809-4.679,1.2-7.021,0.362-2.172.7-4.346,1.058-6.518A1.78,1.78,0,0,0,29.208,3.519ZM15.82,19.64a4.361,4.361,0,1,1,4.386-4.334A4.359,4.359,0,0,1,15.82,19.64Zm8.7-15.246a1.832,1.832,0,0,1-.436.357,5.524,5.524,0,0,1-1.454.541,20.191,20.191,0,0,1-2.9.485,37.5,37.5,0,0,1-3.791.188,37.891,37.891,0,0,1-4.332-.238,15.852,15.852,0,0,1-3.146-.633,6.893,6.893,0,0,1-.883-0.381,1.385,1.385,0,0,1-.386-0.3A0.443,0.443,0,0,1,7.2,3.746,1.752,1.752,0,0,1,7.61,3.43a5.392,5.392,0,0,1,1.359-.512,20.355,20.355,0,0,1,2.994-.509,37.618,37.618,0,0,1,4.967-.172,30.478,30.478,0,0,1,4.55.431,10.33,10.33,0,0,1,2.075.545,5.336,5.336,0,0,1,.683.346,1.085,1.085,0,0,1,.288.266A0.422,0.422,0,0,1,24.522,4.394Zm1.664,18.367a0.955,0.955,0,0,1-.021.271c-0.305,1.6-.614,3.2-0.911,4.811a2.6,2.6,0,0,1-.724,1.377,5.442,5.442,0,0,1-1.448,1.023A12.151,12.151,0,0,1,20,31.274a18.806,18.806,0,0,1-3.563.407,20.746,20.746,0,0,1-5.917-.7,9.9,9.9,0,0,1-2.3-.953,5.078,5.078,0,0,1-1.042-.789,2.6,2.6,0,0,1-.741-1.4c-0.3-1.6-.609-3.207-0.915-4.81A1.12,1.12,0,0,1,5.5,22.79a0.479,0.479,0,0,1,.724-0.423c0.036,0.021.072,0.041,0.105,0.063a13.221,13.221,0,0,0,3.858,1.856,18.062,18.062,0,0,0,3.873.758,19.587,19.587,0,0,0,4.54-.11,16.41,16.41,0,0,0,5.687-1.827c0.354-.194.686-0.43,1.025-0.646a1.715,1.715,0,0,1,.167-0.1A0.48,0.48,0,0,1,26.186,22.761Zm-8.159-7.477a2.185,2.185,0,1,1-2.177-2.193A2.192,2.192,0,0,1,18.027,15.284Z', transform='translate(-2.122)'</<path d="M29.208,3.519a3.47,3.47,0,0,0-.729-0.738,8.244,8.244,0,0,0-2.01-1.1A21.7,21.7,0,0,0,21.768.45,39.134,39.134,0,0,0,10.037.434,24.268,24.268,0,0,0,6,1.385,10.419,10.419,0,0,0,3.525,2.549a4.165,4.165,0,0,0-.976.869,1.832,1.832,0,0,0-.4,1.479C2.32,5.989,2.48,7.082,2.66,8.169q0.4,2.417.811,4.828c0.306,1.787.62,3.573,0.918,5.36a2.026,2.026,0,0,0,.526,1.07,5.663,5.663,0,0,0,.574.543,9.178,9.178,0,0,0,2.432,1.354,20.379,20.379,0,0,0,6.485,1.328,25.257,25.257,0,0,0,4.838-.187,19.46,19.46,0,0,0,4.011-.948,10.809,10.809,0,0,0,2.725-1.382,4.323,4.323,0,0,0,.945-0.9,1.791,1.791,0,0,0,.354-0.805c0.4-2.341.809-4.679,1.2-7.021,0.362-2.172.7-4.346,1.058-6.518A1.78,1.78,0,0,0,29.208,3.519ZM15.82,19.64a4.361,4.361,0,1,1,4.386-4.334A4.359,4.359,0,0,1,15.82,19.64Zm8.7-15.246a1.832,1.832,0,0,1-.436.357,5.524,5.524,0,0,1-1.454.541,20.191,20.191,0,0,1-2.9.485,37.5,37.5,0,0,1-3.791.188,37.891,37.891,0,0,1-4.332-.238,15.852,15.852,0,0,1-3.146-.633,6.893,6.893,0,0,1-.883-0.381,1.385,1.385,0,0,1-.386-0.3A0.443,0.443,0,0,1,7.2,3.746,1.752,1.752,0,0,1,7.61,3.43a5.392,5.392,0,0,1,1.359-.512,20.355,20.355,0,0,1,2.994-.509,37.618,37.618,0,0,1,4.967-.172,30.478,30.478,0,0,1,4.55.431,10.33,10.33,0,0,1,2.075.545,5.336,5.336,0,0,1,.683.346,1.085,1.085,0,0,1,.288.266A0.422,0.422,0,0,1,24.522,4.394Zm1.664,18.367a0.955,0.955,0,0,1-.021.271c-0.305,1.6-.614,3.2-0.911,4.811a2.6,2.6,0,0,1-.724,1.377,5.442,5.442,0,0,1-1.448,1.023A12.151,12.151,0,0,1,20,31.274a18.806,18.806,0,0,1-3.563.407,20.746,20.746,0,0,1-5.917-.7,9.9,9.9,0,0,1-2.3-.953,5.078,5.078,0,0,1-1.042-.789,2.6,2.6,0,0,1-.741-1.4c-0.3-1.6-.609-3.207-0.915-4.81A1.12,1.12,0,0,1,5.5,22.79a0.479,0.479,0,0,1,.724-0.423c0.036,0.021.072,0.041,0.105,0.063a13.221,13.221,0,0,0,3.858,1.856,18.062,18.062,0,0,0,3.873.758,19.587,19.587,0,0,0,4.54-.11,16.41,16.41,0,0,0,5.687-1.827c0.354-.194.686-0.43,1.025-0.646a1.715,1.715,0,0,1,.167-0.1A0.48,0.48,0,0,1,26.186,22.761Zm-8.159-7.477a2.185,2.185,0,1,1-2.177-2.193A2.192,2.192,0,0,1,18.027,15.284Z" transform="translate(-2.122)"/>
  </symbol>
  <symbol id="icons-check" viewBox='0 0 14.5 10'>
    <path d="M7.25,14a1,1,0,0,1-.707-0.293l-4.5-4.5A1,1,0,0,1,3.457,7.793L7.25,11.586l7.293-7.293a1,1,0,0,1,1.414,1.414l-8,8A1,1,0,0,1,7.25,14Z" transform="translate(-1.75 -4)"/>
  </symbol>
  <symbol id="icons-chevron-right" viewBox='0 0 11 18'>
    <polyline points="1 1 10 9 1 17" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
  </symbol>
  <symbol id="icons-chevron-down" viewBox='0 0 18 11'>
    <polyline points="17 1 9 10 1 1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
  </symbol>
  <symbol id="icons-close" viewBox="0 0 30 30">
    <path d="M21,22.2c-0.3,0-0.5-0.1-0.7-0.3L15,16.6l-5.3,5.3c-0.4,0.4-1,0.4-1.4,0s-0.4-1,0-1.4l5.3-5.3L8.3,9.9c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l5.3,5.3l5.3-5.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-5.3,5.3l5.3,5.3c0.4,0.4,0.4,1,0,1.4C21.5,22.1,21.3,22.2,21,22.2z"/>
  </symbol>
  <symbol id="icons-external" viewBox="0 0 15 15">
    <path fill="currentColor" d="M9.5,9a0.5,0.5,0,0,1-.354-0.854L14.293,3H11a0.5,0.5,0,0,1,0-1h4.506a0.5,0.5,0,0,1,.32.121h0a0.56,0.56,0,0,1,.07.074,0.5,0.5,0,0,1,.1.269c0,0.013,0,.026,0,0.039V7a0.5,0.5,0,0,1-1,0V3.707L9.854,8.854A0.5,0.5,0,0,1,9.5,9Z" transform="translate(-1 -2)"/><path d="M13.317,8.218L13,8.535V14a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V7A2,2,0,0,1,4,5H9.465l0.317-.317A2.5,2.5,0,0,1,9.027,4H4A3,3,0,0,0,1,7v7a3,3,0,0,0,3,3h7a3,3,0,0,0,3-3V8.973A2.5,2.5,0,0,1,13.317,8.218Z" transform="translate(-1 -2)"/>
  </symbol>
  <symbol id="icons-github" viewBox="0 0 24 23.41">
    <path d="M24.336,7.791A12.011,12.011,0,0,1,25.52,23.366a12.083,12.083,0,0,1-5.883,4.313A0.686,0.686,0,0,1,19,27.549a0.648,0.648,0,0,1-.187-0.457l0.023-3.281a3.861,3.861,0,0,0-.258-1.395,2.219,2.219,0,0,0-.562-0.832,7.008,7.008,0,0,0,3.738-1.348Q23.41,19.03,23.5,15.655a5.127,5.127,0,0,0-.34-1.782,4.569,4.569,0,0,0-.9-1.43,3.254,3.254,0,0,0,.234-1.078,4.936,4.936,0,0,0-.352-2.109,1.719,1.719,0,0,0-.8.035A7.4,7.4,0,0,0,18.84,10.5a11.493,11.493,0,0,0-6,0,7.4,7.4,0,0,0-2.508-1.207,1.719,1.719,0,0,0-.8-0.035,4.936,4.936,0,0,0-.352,2.109,3.254,3.254,0,0,0,.234,1.078,4.569,4.569,0,0,0-.9,1.43,5.127,5.127,0,0,0-.34,1.782Q8.27,19.03,9.91,20.237a6.976,6.976,0,0,0,3.75,1.348,1.934,1.934,0,0,0-.48.633,3.414,3.414,0,0,0-.293.984,3.316,3.316,0,0,1-1.594.293,2.42,2.42,0,0,1-1.9-1.3,3.234,3.234,0,0,0-.645-0.75,1.767,1.767,0,0,0-1.184-.469q-0.7.023-.527,0.3a1.324,1.324,0,0,0,.551.469,2.583,2.583,0,0,1,.75.82,5.653,5.653,0,0,1,.469.867,2.2,2.2,0,0,0,.984,1.172,4.5,4.5,0,0,0,3.047.258l0.023,2.227a0.648,0.648,0,0,1-.187.457,0.686,0.686,0,0,1-.633.129A12.083,12.083,0,0,1,6.16,23.366,12,12,0,0,1,24.336,7.791Z" transform="translate(-3.84 -4.287)"/>
  </symbol>
  <symbol id="icons-overflow" viewBox="0 0 18 4.688">
    <path fill="currentColor" d="M2.344,7.656A1.344,1.344,0,1,1,1,9,1.345,1.345,0,0,1,2.344,7.656m0-1A2.344,2.344,0,1,0,4.688,9,2.344,2.344,0,0,0,2.344,6.656h0Z" transform="translate(0 -6.656)"/><path fill="currentColor" d="M9,7.656A1.344,1.344,0,1,1,7.656,9,1.345,1.345,0,0,1,9,7.656m0-1A2.344,2.344,0,1,0,11.344,9,2.344,2.344,0,0,0,9,6.656H9Z" transform="translate(0 -6.656)"/><path fill="currentColor" d="M15.656,7.656A1.344,1.344,0,1,1,14.313,9a1.345,1.345,0,0,1,1.344-1.344m0-1A2.344,2.344,0,1,0,18,9a2.344,2.344,0,0,0-2.344-2.344h0Z" transform="translate(0 -6.656)"/>
  </symbol>
</svg>
 -->
    <header class="grid-block shrink header">
  <div class="grid-block grid-container justify-justified">
    <a href="/" class="grid-content shrink logo">
      <img class="img" src="images/runnable-logo.svg" height="36" width="192">
    </a>
    <nav class="nav grid-block shrink">
      <div class="grid-content btn btn-sm popover-trigger hover has-links text-white strong hidden-sm product-link" tabindex="1">
        <a href="product/" class="a">
          <span class="float-left">Product Tour</span>
          <svg class="icons icons-chevron-down float-right">
            <use xlink:href="#icons-chevron-down">
          </svg>
        </a>
        <div class="popover-hover-wrapper">
          <div class="grid-block popover popover-product-menu bottom">
            <a href="product/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/sandbox.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Get an&#32;
      <br class="hidden-md">overview
    </strong>
    <small class="small">A sandbox service&#32;
      <br class="hidden-md">for teams.
    </small>
  </p>
</a>
<a href="development/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/development.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Speed up development</strong>
    <small class="small">With the power&#32;
      <br class="hidden-md">of Docker.
    </small>
  </p>
</a>
<a href="integration-testing/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/integration-testing.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Integrate & test changes</strong>
    <small class="small">Every branch,&#32;
      <br class="hidden-md">end-to-end.
    </small>
  </p>
</a>
<a href="production/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/production.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Deploy tested artifacts</strong>
    <small class="small">Tested builds,&#32;
      <br class="hidden-md">ready to push.
    </small>
  </p>
</a>

          </div>
        </div>
      </div>
      <a href="demo/" class="grid-content btn btn-sm text-white strong hidden-md">Request Demo</a>
      <a href="{{loginUrl}}" class="grid-content btn btn-sm text-white strong hidden-md">Sign In</a>
      <a class="grid-content btn btn-sm btn-white text-white strong hidden-xs js-sign-up">Sign Up</a>
      <div class="grid-content btn btn-sm btn-overflow popover-trigger hover has-links" tabindex="1">
        <svg class="icons icons-overflow">
          <use xlink:href="#icons-overflow">
        </svg>
        <div class="popover-hover-wrapper right-align-sm">
  <div class="grid-block popover popover-header-menu bottom">
    <div class="grid-block shrink vertical visible-sm list-product">
      <a href="product/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/sandbox.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Get an&#32;
      <br class="hidden-md">overview
    </strong>
    <small class="small">A sandbox service&#32;
      <br class="hidden-md">for teams.
    </small>
  </p>
</a>
<a href="development/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/development.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Speed up development</strong>
    <small class="small">With the power&#32;
      <br class="hidden-md">of Docker.
    </small>
  </p>
</a>
<a href="integration-testing/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/integration-testing.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Integrate & test changes</strong>
    <small class="small">Every branch,&#32;
      <br class="hidden-md">end-to-end.
    </small>
  </p>
</a>
<a href="production/" class="grid-block justify-center vertical btn btn-product">
  <img class="img" src="images/product-menu/production.svg" height="36" width="36">
  <p class="p">
    <strong class="strong">Deploy tested artifacts</strong>
    <small class="small">Tested builds,&#32;
      <br class="hidden-md">ready to push.
    </small>
  </p>
</a>

    </div>
    <div class="grid-block vertical list text-left">
      <a href="{{loginUrl}}" class="list-item-a visible-md">Sign In</a>
      <a class="list-item-a visible-xs js-sign-up">Sign Up</a>
      <div class="list-item divider visible-md"></div>
      <a href="demo/" class="list-item-a visible-md"><span class="text-request">Request&nbsp;</span>Demo</a>
      <a href="https://support.runnable.com" class="list-item-a">Docs</a>
      <a href="about/" class="list-item-a">About</a>
      <a href="http://blog.runnable.com" class="list-item-a">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="list-item-a">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="list-item-a">Security</a>
      <a href="privacy/" class="list-item-a">Privacy</a>
    </div>
  </div>
</div>

      </div>
    </div>
  </nav>
</header>


    <main class="grid-block vertical main">
      <article class="article hero">
  <h1 class="h1 text-center">Our Privacy Policy</h1>
  <p class="p text-center">Updated April 18th, 2016</p>
</article>

      <article class="grid-block vertical article article-privacy">
  <div class="grid-content">
    <h3 class="h3 strong">What information do we collect?</h3>
    <p class="p">We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey, fill out a form, or use a Runnable sandbox.
    <p class="p">When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address, phone number or employer. You may, however, visit our site anonymously.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">What do we use your information for?</h3>
    <p class="p">Any of the information we collect from you may be used in one of the following ways:
    <ul class="ul">
      <li class="li"><strong class="strong">To personalize your experience</strong>—your information helps us to better respond to your individual needs.
      <li class="li"><strong class="strong">To improve our website</strong>—we continually strive to improve our website offerings based on the information and feedback we receive from you.
      <li class="li"><strong class="strong">To improve customer service</strong>
      <li class="li">To administer a contest, promotion, survey or other site feature.
      <li class="li"><strong class="strong">To send periodic emails</strong>—the email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.
    </ul>
    <small class="small"><strong class="strong">Note:</strong> If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</small>
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">How do we protect your information?</h3>
    <p class="p">We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Database to be only accessed by those authorized with special access rights to our systems, and are required to keep the information confidential.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Do we use cookies?</h3>
    <p class="p">Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
    <p class="p">We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future. We may contract with third-party service providers to assist us in better understanding our site visitors. These service providers are not permitted to use the information collected on our behalf except to help us conduct and improve our business.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Do we disclose any information to outside parties?</h3>
    <p class="p">We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">California Online Privacy Protection Act Compliance</h3>
    <p class="p">Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Childrens Online Privacy Protection Act Compliance</h3>
    <p class="p">We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Online Privacy Policy Only</h3>
    <p class="p">This online privacy policy applies only to information collected through our website and not to information collected offline.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Your Consent</h3>
    <p class="p">By using our site, you consent to the privacy policy terms on this page.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Changes to our Privacy Policy</h3>
    <p class="p">If we decide to change our privacy policy, we will post those changes on this page, and/or update the Privacy Policy modification date below.
    <p class="p">This policy was last modified on April 18th, 2016.
  </div>
  <div class="grid-content">
    <h3 class="h3 strong">Contacting Runnable</h3>
    <p class="p">If there are any questions regarding this privacy policy, contact us at <a class="link" href="mailto:privacy@runnable.com">privacy@runnable.com</a> or at the address below:
    <address class="address text-center">
      <strong>Runnable</strong><br>
      1481 Folsom Street<br>
      San Francisco, CA, 94103<br>
      USA
    </address>
  </div>
</article>

    </main>

    <footer class="grid-block vertical footer justify-spaced">
  <a class="sign-up-box grid-block vertical well well-anchor js-sign-up">
  <img class="img" src="images/runnabear-hello.png">
  <p class="p">Runnable is <strong class="strong">free</strong> during our preview,<br class="hidden-xxxs">
    including infrastructure costs!
  <div class="btn btn-sm green">Sign Up</div>
</a>

  <aside class="grid-block aside-support">
  <div class="grid-block vertical justify-center support-text">
    <p class="p strong">Our engineers are here for you.</p>
    <p class="p">We can answer questions about Docker <br class="br">and help you set up your stack.</p>
  </div>
  <figure class="grid-block vertical figure shrink">
    <div class="grid-block shrink bubble">
      <img class="img float-left" src="images/logos/logo-slack.svg" height="18" width="18" alt="Slack">
      <div class="grid-block vertical">
        <div class="user">
          <strong class="strong user-name">Jorge</strong>
          <span class="user-time"> 4:19 PM</span>
        </div>
        <p class="p user-text">Can I run multiple commands?</p>
      </div>
    </div>
    <div class="grid-block shrink bubble">
      <img class="img float-left" src="images/runnabot-head.png" height="18" width="18" alt="Slack">
      <div class="grid-block vertical">
        <div class="user">
          <strong class="strong user-name">Taylor</strong>
          <span class="user-time"> 4:20 PM</span>
        </div>
        <p class="p user-text">Hi <span class="link-blue">@jorge</span>!
          <br>Yes you can. Here’s how: …
        </p>
      </div>
    </div>
  </figure>
</aside>

  <div class="grid-block link-wrapper">
    <div class="grid-block vertical align-start">
      <a href="demo/" class="btn btn-xs link strong">Request Demo</a>
      <a href="product/" class="btn btn-xs link strong">Product</a>
      <a href="https://support.runnable.com" class="btn btn-xs link strong">Docs</a>
      <a href="about/" class="btn btn-xs link strong">About</a>
    </div>
    <div class="grid-block vertical align-start">
      <a href="http://blog.runnable.com" class="btn btn-xs link strong">Blog</a>
      <a href="http://blog.runnable.com/private/141107158076/tumblr_o43mfmwB671t3hjy4" class="btn btn-xs link strong">Pricing</a>
      <a href="http://blog.runnable.com/private/141107137076/tumblr_o43mexUxVP1t3hjy4" class="btn btn-xs link strong">Security</a>
      <a href="privacy/" class="btn btn-xs link strong">Privacy</a>
    </div>
  </div>
</footer>

    <div class="modal-backdrop" id="sign-up">
  <a class="icons-close js-modal-close">
    <svg class="icons">
      <use xlink:href="#icons-close">
    </svg>
  </a>
  <div class="modal">
    <article class="article article-form article-sign-up">
  <!-- white list errors -->
  <div class="well well-error">
    <img class="img float-left" src="images/runnabear-error.png" height="90" width="45">
    <span class="span well-text"></span>
  </div>

  <!-- initial state -->
  <h1 class="h1 text-center strong">Let’s get started.</h1>
  <form class="grid-block vertical form form-sign-up">
    <div class="grid-block vertical radio-group">
      <label class="p text-center">Where does your team keep their code?</label>
      <div class="grid-block">
        <input class="input-radio" type="radio" value="GitHub" name="scm" id="radio-github" required>
        <label class="btn btn-lg white radio" for="radio-github">
          <svg class="icons">
            <use xlink:href="#icons-github">
          </svg>
          GitHub
          <svg class="icons">
            <use xlink:href="#icons-check">
          </svg>
        </label>
        <input class="input-radio" type="radio" value="Bitbucket" name="scm" id="radio-bb" required>
        <label class="btn btn-lg white radio" for="radio-bb">
          <svg class="icons">
            <use xlink:href="#icons-bitbucket">
          </svg>
          Bitbucket
          <svg class="icons">
            <use xlink:href="#icons-check">
          </svg>
        </label>
      </div>
    </div>

    <div class="grid-content input-group-vertical input-group-org">
      <label class="label" for="input-organization">
        <span class="label-text">Team Name</span>
        <small class="underline popover-trigger hover">Why<span class="hidden-xxs"> do we need this</span>?
          <div class="popover top text-center">We’re sending invitations to teams that are on Bitbucket or GitHub.</div>
        </small>
      </label>
      <input class="input input-md input-validate pristine" id="input-organization" name="organization" title="Enter a valid organization or team." required>
    </div>

    <div class="grid-content input-group-vertical">
      <label class="label" for="input-email">Your Email</label>
      <input class="input input-md input-validate pristine" id="input-email" name="email" type="email" pattern="\S+@\S+\.\S+" title="Enter a valid email for us to follow up with." required>
    </div>

    <button class="grid-content btn btn-lg green">Ship It!</button>

    <div class="grid-content text-center">
      <a href="{{loginUrl}}" class="link">Sign in</a> if your team is already using Runnable.
    </div>
  </form>
</article>

    <article class="article article-form article-questionnaire">
  <div class="well well-error">
    <img class="img float-left" src="images/runnabear-error.png" height="90" width="45">
    <span class="span well-text"></span>
  </div>

  <p class="h1 text-center strong">Got it!
  <p class="p text-center">We’re processing your info now. To speed up the verification process, please <strong class="strong">tell us what problems you want Runnable to solve for your team</strong>:

  <form class="grid-block vertical form form-questionnaire">
    <textarea class="grid-content textarea input-validate pristine" id="question-textarea" required></textarea>
    <button class="grid-content btn btn-lg green">Fire Away</button>
  </form>
</article>

    <!-- submitted state -->
<article class="article article-form article-confirm">
  <img class="img hide" src="images/runnabear-jumping.png">
  <p class="h1 text-center strong">You did it!
  <p class="p text-center">To prevent spam, we also need you to confirm your email address by clicking on the link in the email we just sent you.
  <a href="#" class="grid-content btn btn-lg gray">Return Home</a>
</article>

  </div>
</div>


    <!-- segment.io-->
<script>
  var match,
    pl     = /\+/g,  // Regex for replacing addition symbol with a space
    search = /([^&=]+)=?([^&]*)/g,
    decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
    query  = window.location.search.substring(1),
    urlParams = {};
  while (match = search.exec(query))
    urlParams[decode(match[1])] = decode(match[2]);
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
    analytics.load("m1OwMrg9ytNWONfJ0J1ig8GOH91MkWNT");
    analytics.page('init'); // fire this just to initialize integrations
  }}();
  analytics.ready( function() {
    analytics.page({
      clientId: ga.getAll()[0].get('clientId'),
      querystrings: urlParams
    });
    var signUp = document.querySelectorAll('[href="#sign-up"]');
    analytics.trackLink(signUp, 'Clicked Sign Up');
  });
</script>

<!-- statuspage.io -->
<script async src="https://cdn.statuspage.io/se-v2.js"></script>

